<br>

 <div class="content">
        <wj-grid>
          <wj-row class="gx-1">
            <wj-col size="1">
              <wj-label >Project name</wj-label>
            </wj-col>
            <wj-col size="1">
              <wj-input label="Project code" placeholder="6 digit code" minlength="6" maxlength="6" message="Toto je moja hlaska" validate-on-change custom-error-display></wj-input>
            </wj-col>
          </wj-row>
          <wj-row class="gx-1">
            <wj-col size="1">
              <wj-label >Field name</wj-label>
            </wj-col>
            <wj-col size="1">
              <wj-input label="Project code" ></wj-input>
            </wj-col>
          </wj-row>
        </wj-grid>
   <div  class="playground" style="background-color: rgba(0,0,0,.08); padding-inline: 1rem;">
          <div  class="content" style="width: 100%; margin: 0; display: block;">
<wj-table   export="xlsx,pdf" id="testTable2"  filterable="simple" bulk  > 
<!--
<div slot="row-activities">
 [attr.id]="idProp"
                <wj-button>Akcia 1</wj-button>
                <wj-button>Akcia 2</wj-button>
			
              </div>
-->
</wj-table>
	<wj-dialog id="editRow" trigger="open-modal" title="Title">

        
<!--
          <div slot="footer">
            <wj-button>Zatvoriť</wj-button>
            <wj-button color="primary">Potvrdiť</wj-button>
          </div>
-->
        </wj-dialog>
</div>

</div>

<br>

 