 /* FULL_SCREEN_OVERLAY_START */
 html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }

/* FULL_SCREEN_OVERLAY_END */

.list-editor-main{
	display: flex; flex-direction: column; height: 100vh;
}
.list-edit-wrapper{
	display:flex;
	flex:auto;
}

.grid-container {
	display: grid;
	
	grid-template-rows:  0.01fr 0.1fr;
	
	grid-template-areas:	  "upper" "down";
	//width:100%;
	border:10px double;
	flex:auto;
}

.grid-container-upper{
grid-area:upper;
border:10px double green;
display:flex;
}
.grid-container-down{
grid-area:down;
border:10px double red;

}

/*
::slotted(*) {
          display: block;
          border: solid blue 1px;
          padding: 15px;
        }
		
		*/