<br>
showing available reports

<div class="list-editor-main">
 <div class="grid-container" >
 
 <div class="grid-container-upper">
 <div class="list-edit-wrapper">
 <div style="max-height:10%;display:flex;flex:auto" >
 <list-report  style="display: flex; flex-direction: column; flex: auto;"></list-report>
 </div>
 </div>
 
 </div>
 <div class="grid-container-down">sadsadsaasdsad</div>
<!-- 
<list-report class="grid-container-upper" ></list-report>

sadsadsaasdsad
-->
<single-report class="grid-container-down"></single-report>


</div>
</div>
