<br>
showing available reports
<!--
<div style="display: block; flex-grow: grow">
   <list-report  style="display: flex; flex-direction: column; flex: auto;"></list-report>
 <single-report class="grid-container-down"></single-report>
</div>
-->
<!--
<div id="container">
  <div class="row"> </div>
  <div class="row" style="border: 10px doubled"><single-report class="grid-container-down"></single-report></div>
</div>

-->
<!--
<div id="container">

<div id="top_div"> <list-report  ></list-report></div>    
<div id="bottom_div"><single-report class="grid-container-down"></single-report></div>

</div>
-->
<div style="width:100%; height :100%;  direction:rtl;">
    <div style="width:100%; height:27%; ">
  <list-report  ></list-report> 
    </div>
    <div style="width:100%; height:40%;  ">
    <single-report class="grid-container-down"></single-report>
    </div>
   
  </div>