<br>

<h1>add field</h1>


	
 <div class="playground">
      <div class="content" style="max-width: 60%;margin: auto;min-height: 300px;">
        <wj-grid>
          <wj-row class="gx-2">
            <wj-col size="6">
              <wj-input id="data-source-name" label="Name"></wj-input>
            </wj-col>
            <wj-col size="6">
              <wj-input id="data-source-display-name" label="Display Name" placeholder="rprt" ></wj-input>
            </wj-col>
          </wj-row>
          <wj-row>
            <wj-col size="12">
              <wj-input id="data-source-description" label="Description">
               
              </wj-input>
            </wj-col>
          </wj-row>
          <wj-row class="gx-2">
            <wj-col size="6">
             	<wj-button (click)="save()">Save</wj-button>
            </wj-col>
            <wj-col size="6">
              <wj-input label="Email"></wj-input>
            </wj-col>
          </wj-row>
        </wj-grid>
      </div>
    </div>
		<!--
<wj-dropdown id="function_list" placement="bottom-end" offset="5">
<wj-button slot="trigger" caret>Dropdown</wj-button>
<wj-menu id="menu-child" variant="context">
 
</wj-menu>
</wj-dropdown>
       
		
	-->