<br>

<h1>add data source</h1>

<div class="wizard-step-main">
 <div class="wizard-grid-container" >
  <div class="wizard-grid-container-left-up">
 <div class="item11">
	<wj-input  variant="standard" id="data-source-display-name" label="mg.display.name" placeholder="rprt" ></wj-input>
 </div>
  </div>
  <div class="wizard-grid-container-right-up">
  <div class="item11">
 <wj-input variant="standard" id="data-source-name" label="mg.name"></wj-input>
   </div>
  </div>
  <div class="wizard-grid-container-left-down">
  <div class="item11">
  <wj-input variant="standard" label="mg.email"></wj-input>
   
   </div>
  </div>
  <div class="wizard-grid-container-right-down">
   <div class="item11">
 <wj-input variant="standard" id="data-source-description" label="mg.description"></wj-input>
  </div>
  </div>
   <div class="wizard-grid-container-left-down2">
  <div class="item11">
 <wj-button (click)="save()">mg.save</wj-button>
   
   </div>
  </div>
  <div class="wizard-grid-container-right-down2">
   <div class="item11">

  </div>
  </div>
  </div>
  </div>
	
 
	