<!-- <wj-dropdown label="Start" placement="bottom-start" offset="5">	
</wj-dropdown>
-->
	
	<wj-button (click)="renderIdentity()">Create Data Source</wj-button>
	<wj-button (click)="renderCertification()">List</wj-button>
	<wj-button (click)="showFunctionEditor()">Show Function Editor</wj-button>
	<wj-button (click)="showFunctionList()">Function List</wj-button>
	<wj-button (click)="showField()">Add Field</wj-button>
  <wj-button (click)="showDataSource()">Edit Data Source</wj-button>
  <wj-button (click)="showDataSourceColumn()">Show Data Source Column</wj-button>
  <wj-button (click)="showConf()">Show Conf</wj-button>
  <wj-button (click)="showAvailableReports()">Show Available</wj-button>
    <ng-template ad-host></ng-template>
