<!-- <wj-dropdown label="Start" placement="bottom-start" offset="5">	
</wj-dropdown>
-->
<!--
	<i class="fa fa-edit"></i>
	<i class="fa fa-file-excel"></i>
	-->
	<i class="fa fa-file-excel"></i>
	<i class="fa  fa-search"></i>
	<wj-button (click)="renderIdentity()">Create Data Source</wj-button>
	<wj-button (click)="renderCertification()">List</wj-button>
	
	<wj-button (click)="showFunctionEditor()">Show Function Editor</wj-button>
	
	
	<wj-button (click)="showField()">Add Field</wj-button>
  <wj-button (click)="showDataSource()">Edit Data Source</wj-button>
  <wj-button (click)="showDataSourceColumn()">Show Data Source Column</wj-button>
  <wj-button (click)="showConf()">Show Conf</wj-button>
  
  <wj-button (click)="showAvailableReports()">Show Available</wj-button>
  <br>
  <wj-myflatpickr></wj-myflatpickr>
  <div class = "app-wrapper">
    <ng-template ad-host></ng-template>
	</div>
