<br>
<h1>definition list</h1>

  <wj-dropdown label="Start" placement="bottom-start" offset="5">
    <wj-button size="large" slot="trigger" stop-propagation="true" caret>Large</wj-button>
    <wj-menu variant="context">
      <wj-menu-item>
        <wj-icon name="plane" slot="start"></wj-icon>
        <wj-label>Menu item</wj-label>
      </wj-menu-item>
      <wj-menu-item>
        <wj-icon name="book" slot="start"></wj-icon>
        <wj-label>Menu item</wj-label>
      </wj-menu-item>
      <wj-menu-item>
        <wj-icon name="music" slot="start"></wj-icon>
        <wj-label>Menu item</wj-label>
      </wj-menu-item>
      <wj-menu-item>
        <wj-icon name="video" slot="start"></wj-icon>
        <wj-label>Menu item</wj-label>
      </wj-menu-item>
    </wj-menu>

  </wj-dropdown>


  <div class="playground" style="background-color: rgba(0,0,0,.08); padding-inline: 1rem;">
          <div class="content" style="width: 100%; margin: 0; display: block;">
<wj-table  export="xlsx,pdf" table-id="dddd" id="dddd"  filterable="simple" bulk  > 
<!--
<div slot="row-activities">
                <wj-button>Akcia 1</wj-button>
                <wj-button>Akcia 2</wj-button>
			
              </div>
-->
</wj-table>
	
</div>

</div>
